/* 
    Document   : custom
    Created on : Apr 28, 2013, 6:50:07 AM
    Author     : sahid
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.footer{
    padding: 35px 0px 0px 20px;
    /*background-color: #8B9900;*/
    /*background-color: #535D5F;*/
    background-color: #7D8667;
    color: #ffffff;
}
.line{
    height: 5px;
    background-color:#BACE2E;
}
.skyline{
    padding-bottom: 20px;
}
.picture_frame{
    padding: 5px 0px 15px 5px;    
}
.side-menu{
    border-color: #D0D0D0;
}
.underline{
    text-decoration: underline;
}
.cssmenus{
    background-color:#8B9900;
    padding: 20px 0px 0px 8px;
    height: 50px;
}

